
body {
    background:linear-gradient(to left,#97ABFF,#123597);
    text-align: center;
}
#modal{
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    height: auto;
    width: auto;
}
#login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}